#####################################################################
# 	Sensors
#####################################################################
# This file is imported into printer.cfg using the below;
# [include sensors.cfg]
#####################################################################

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PF7   # T3 / TH3 on Octopus 1.1
min_temp: 0
max_temp: 100
